* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background: url(./assets/background.jpg) no-repeat top center/cover;
}
body * {
  font-size: "inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  height: 712px;
  border: 1px solid red;
  margin: auto;
  
}
#profile {
  text-align: center;
}
#profile img {
  width: 170px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
}
